body {
    font-family: 'arial', sans-serif;
    font-size: 15px;
}

header {
    text-align: center;
    font-size: 4.2vw;
    padding: 1vh;
    padding-top: 10vh;
    font-family: 'arial', sans-serif;
}

button {
    margin-top: 15px;
}

.styledBtn {
    width: fit-content;
    background-color: black;
    color: white;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}

#imgContainer {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-bottom: 2vw;
}

#imgContainer img{
    padding: 6vw;
    padding-bottom: 1vw;
}

#imgContainer p {
    padding-bottom: 3vh;
}

#frerard {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#frerard img {
    width: 500px;
    height: auto;
}

#americanFootball {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#americanFootball img {
    width: 490px;
    height: auto;
}

#popup {
    visibility: hidden;
    /* position: fixed;
    z-index: 1;
    width: 250px;
    height: 150px;
    left: 50vw;
    top: 40vh;
    background: pink;
    display: flex;
    justify-content: center;
    align-items: center; */

    /* modal container fixed across whole screen */
    position: fixed;
    inset: 0;

    /* z-index must be higher than everything else on the page */
    z-index: 1;
    
    /* semi-transparent black background exposed by padding */
    background-color: rgba(0, 0, 0, .75);
    padding-left: 30vw;
    padding-right: 30vw;
    /* padding-top: 20vh; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.popupBody {
    padding: 20px;
    background: #fff;
    padding: 30px;
    padding-right: 34px;
}

#learnMore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
}

#confettiCanvas {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; 
  z-index: 2;
}
